{% extends 'home.html' %}

{% block content %}
    <div id="user-home-content" class="all-available-width">
        <div class="toLeft home-action-container">
            <a href="{% url 'new_credit_request'%}" class="btn">Add credit request</a>
        </div>
        <div class="toLeft home-action-container">
            <a href="{% url 'select_credit_product'%}" class="btn">View our credit lines</a>
        </div>
        {% if has_loan_requests %}
        <div class="toLeft home-action-container">
            <a href="{% url 'credit_requests' %}" class="btn">Your credit requests</a>
        </div>
        {% endif %}
    </div>
    <div class="clear">
    </div>
{% endblock %}