@font-face{
	font-family: charcoal-regular;
	src: url(charcoal.tff);
}


#background{
background: linear-gradient(90deg, #DCEDE4 0%, #FFFFFF 100%) no-repeat;
background: -moz-linear-gradient(90deg, #DCEDE4 0%, #FFFFFF 100%) no-repeat;
background: -webkit-linear-gradient(90deg, #DCEDE4 0%, #FFFFFF 100%) no-repeat;
background: -o-linear-gradient(90deg, #DCEDE4 0%, #FFFFFF 100%) no-repeat;
width:100%;
position: absolute;
top:0px;
left: 0px;
height: 100%;
z-index: -1;
}



.toLeft
{
    float: left;
    }
    
.toRight
{
    float: right;
    }
    
.clear
{
    clear: both;
    }
.hidden
{
    display: none;}
    
#main{
    width: 1200px;
    margin: 0 auto;
}

header
{
   text-align:center;
    }
    
.text-center{
    text-align: center;    
}
    
.all-available-width
{
    width: 100%;
    }
    
.inline-form-line label
{
    display: inline;
    
    }
    
header h1>A, header h1>a:focus, header h1>a:hover
{
    color: Black;
    }    
    
header > .current-date
{
    position:absolute;
    top: 2em;
    right: 1em;
    }


#log-on-part, .center-info{
    text-align:center;
    width: 600px;
    margin-left: 300px;
}

#public-request-area>h2
{
    margin-bottom: 30px;
    }
#public-request-area>form>div
{
    margin-bottom: 15px;
    }    


.inline-block *{
    display: inline;
}

#remember-me-block>input{
    margin-left: 1em;
}

.no-decoration, .no-decoration:hover, .no-decoration:focus
{
    text-decoration: none;
    }
    
#change-modes-on-top ul{width:30%}
#change-modes-on-top ul>li{width:100%; text-align:center;}
.errorlist {color: red;list-style: none;}
#logout{
background-color: transparent;
text-decoration: underline;
border: none;
color: blue;
cursor: pointer;
}


/**
-----------------------------------------------
public credit requests
*/
    
input.select-credit-product-checkbox
{
    margin-right: 0.2em;
    }
#public-list-of-credit-lines
{
    margin-bottom: 1em;
    }
    
#ok-for-new-credit-request
{
    margin-top: 1em;
    }
    
/**
----------------------------
List of requests
*/    
#passport-id-to-view-request
{
    margin-bottom: 0px;
    }
#list-of-requests
{
    border:1;
    }
#list-of-requests tr, #list-of-requests tr:last-child 
{
    border-top: solid;
    border-color: #C0C0C0;
    border-width: 0.05em;
    }
#list-of-requests tr:first-child
{
    border-top: none;
    }
#list-of-requests .amount
{
    border-bottom: dotted;
    border-color: #D0D0D0;
    border-width: 0.01em;
    }
#list-of-requests .problem-credit-request.first .first-to-show,
#list-of-requests .problem-credit-request .details
{
    display: block;
    }   
#list-of-requests .problem-credit-request .first-to-show,
#list-of-requests .problem-credit-request.first .details
{
    display: none;
    } 
#list-of-requests .problem-credit-request .first-to-show
{
    cursor: pointer;
    }    

/**
-----------
New credit request
*/
#new-credit-request-form #additional-info
{
    display: none;}
    
/**
----------
User home page.
*/
#user-home-content{
    margin-top: 1em;
}

#user-home-content a{
    line-height: 5em;
    width: 92%;
}


#user-home-content .home-action-container{
    width: 33%;
}

#user-home-content.anonimus>div{
    width:50%;    
}

    
/**
----------------------------------
User list of requests.
*/
.view .view, .edit .edit{
    display: block;
}
.edit .view, .view .edit{
    display: none;
}
#list-of-requests input.duration{
    width: 6em;
}
#list-of-requests input.amount, #list-of-requests input.salary{
    width: 8em;
}

/**
--------
Credit request details.
*/
#detailed-credit-request-actions{
    text-align: center;  
}

#b-worker-edit-credit-requets-data{
    margin-right: 3em;    
}
/**
---------------
List of payments
*/

#teoretical-payments {
    max-width: 800px;
}    

/**
---------------------
List of active credits
*/    
#active-credits-list tr:first-child,
 #active-credits-list tr:first-child td
{
    border-top:none;
    }
    
#active-credits-list tbody
{
    border-top: none;
    }
    
.active-credit
{
    cursor: pointer;
    }
/**
------------------
List of credit products.
*/
.credit-product-overview{
	width: 33%;
	 background: none repeat scroll 0 0 green;
    color: white;
    display: inline-block;
    font-family: 'BrandonText-Bold';
    font-style: normal;
    font-weight: normal;
    height: 20em;
    letter-spacing: 0.1em;
    padding: 1em 1.2em 1em;
    text-transform: uppercase;
    transition: all 0s ease 0s;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
font-family: charcoal-regular;
	width:27%;
	margin:1%;
}

